@model FreeNest.Models.ViewModels.UserViewModel
@inject IConfiguration Configuration
@{
    ViewBag.Title = "Users";
    string mainUrl = $"/{Configuration["AdminUrl"]}/";
    string webUrl = $"/{Configuration["AdminUrl"]}/Users";
}
@section Styles {
    <link href="~/lib/sweetalert/sweetalert2.min.css" rel="stylesheet" type="text/css">
}
@section Scripts {
    <script src="~/lib/sweetalert/sweetalert2.min.js"></script>
    <script src="~/lib/datatables/datatables.min.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/site.js"></script>
    <script>
        menuParentActive($("#usersA"));
        var data = @Html.Raw(Model.JsonList);

        var cols = [
            { data: 'Id', orderable:false },
            { data: 'Username' },
            { data: 'FullName' },
            { data: 'UserPermission' },
            { data: 'Email' },
            { data: 'CustomUrl' },
            
            {
                data: 'Id',
                "render": function (data) {
                    return `<a role="button" href="javascript:Delete('@webUrl/Delete/' ,${data})" title="Delete" class="btn btn-rounded btn-sm btn-danger"><i class="fa-solid fa-trash"></i></a>`;
                },
                orderable: false
            }
        ];
        CreateDatatableList(data, cols);
    </script>
}
<div class="page-header">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@mainUrl">Home Page</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
        </ol>
    </nav>
    <div>
        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @if (Context.Request.Query["filter"] == "all")
            {
                <strong>All </strong>
            }
            else if (Context.Request.Query["filter"] == "deleted")
            {
                <strong>Deleted</strong>
            }
            else
            {
                <strong>Active</strong>
            }
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="@webUrl/">Active</a>
            <a class="dropdown-item" href="@webUrl/?filter=deleted">Deleted</a>
            <a class="dropdown-item" href="@webUrl/?filter=all">All</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">@ViewBag.Title</h4>
                <div class="table-responsive">
                    <table id="show_hide_col" class="display nowrap table table-hover table-bordered dataTable" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th width="1%">Id</th>
                                <th width="20%">Username</th>
                                <th width="20%">Full Name</th>
                                <th width="20%">User Permission</th>
                                <th width="20%">Email</th>
                                <th width="20%">Custom URL</th>
                                <th width="5%">Actions</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>