@inject IConfiguration Configuration
@{
    string mainUrl = $"/{Configuration["AdminUrl"]}";
}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <a class="sidebar-brand brand-logo" href="@mainUrl/"><img src="/admin/images/logo.svg" alt="logo" /></a>
        <a class="sidebar-brand brand-logo-mini" href="@mainUrl/"><img src="/admin/images/logo-mini.svg" alt="logo" /></a>
    </div>
    <ul class="nav">
        <li class="nav-item menu-items">
            <a class="nav-link" id="mainPageA" href="@mainUrl/">
                <span class="menu-icon">
                    <i class="fa-solid fa-house"></i>
                </span>
                <span class="menu-title">Home Page</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="@mainUrl/Links/" id="linksA">
                <span class="menu-icon">
                    <i class="fa-solid fa-link"></i>
                </span>
                <span class="menu-title">Links</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="@mainUrl/Users/" id="usersA">
                <span class="menu-icon">
                    <i class="fa-solid fa-users"></i>
                </span>
                <span class="menu-title">Users</span>
            </a>
        </li>
    </ul>
</nav>